/* This section sets font features and background color for the whole page. */

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
}

/* The following section centers the list of pokemon. and keeps the list items from filling up the whole page.
I like it better that way. */

ul {
  width: 50%;
  margin: auto;
}

/* These are media queries that adjust font sizes in response to screen size variations. */

@media all and (max-width: 500px) {
  .pokemon-button {
    font-size: 12px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .pokemon-button {
    font-size: 14px;
  }
}
